[submodule "themes/themes/reimu"]
	path = themes/themes/reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
[submodule "themes/reimu"]
	path = themes/reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
